azure-storage-blob==12.24.0
backports.tarfile==1.2.0
bandit==1.8.2
black==24.10.0
cookiecutter==2.6.0
django-allauth==65.3.1
django-allauth-ui==1.5.3
django-auditlog==3.0.0
django-browser-reload==1.17.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-compressor==4.5.1
django-cors-headers==4.6.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.3
django-livereload-server==0.5.1
django-oauth-toolkit==3.0.1
django-passkeys==1.2.7
django-simple-history==3.7.0
django-storages==1.14.4
django-unfold==0.43.0
flake8==7.1.1
gunicorn==23.0.0
importlib-metadata==8.5.0
inflect==7.0.0
inflection==0.5.1
jaraco.collections==5.1.0
jsonschema==4.23.0
localstack-ext==4.0.3
markdown==3.7
pillow==11.0.0
pre-commit==4.1.0
psycopg2-binary==2.9.10
pyjwt==2.10.1
python3-openid==3.2.0
pytz==2024.2
redis==5.2.1
requests-oauthlib==2.0.0
supervisor==4.2.5
tomli==2.2.1
uritemplate==4.1.1
whitenoise==6.8.2
zappa==0.59.0
