{% extends "_base.html" %}{% load static %}{% block content %}{% include 'sections/../sections/header.html' %}
    <div
        class="relative z-10 overflow-hidden pb-[60px] pt-[120px] dark:bg-dark md:pt-[130px] lg:pt-[160px]"
    >
        <div
            class="absolute bottom-0 left-0 w-full h-px bg-gradient-to-r from-stroke/0 via-stroke to-stroke/0 dark:via-dark-3"
        ></div>
        <div class="container">
            <div class="flex flex-wrap items-center -mx-4">
                <div class="w-full px-4">
                    <div class="text-center">
                        <h1
                            class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
                        >
                            404 Page
                        </h1>
                        <p class="mb-5 text-base text-body-color dark:text-dark-6">
                            There are many variations of passages of Lorem Ipsum available.
                        </p>

                        <ul class="flex items-center justify-center gap-[10px]">
                            <li>
                                <a
                                    href="{% url 'users:index' %}"
                                    class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white"
                                >
                                    Home
                                </a>
                            </li>
                            <li>
                                <a
                                    href="javascript:void(0)"
                                    class="flex items-center gap-[10px] text-base font-medium text-body-color"
                                >
                                    <span class="text-body-color dark:text-dark-6"> / </span>
                                    404
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-white py-20 dark:bg-dark-2 lg:py-[110px]">
        <div class="container mx-auto">
            <div class="flex flex-wrap items-center -mx-4">
                <div class="w-full px-4 md:w-5/12 lg:w-6/12">
                    <div class="text-center">
                        <img
                            src="{% static 'images/404.svg' %}"
                            alt="image"
                            class="max-w-full mx-auto"
                        />
                    </div>
                </div>
                <div class="w-full px-4 md:w-7/12 lg:w-6/12 xl:w-5/12">
                    <div>
                        <div class="mb-8">
                            <img src="{% static 'images/404.svg' %}"/>
                        </div>
                        <h3 class="mb-5 text-2xl font-semibold text-dark dark:text-white">
                            We Can't Seem to Find The Page You're Looking For.
                        </h3>
                        <p class="mb-8 text-base text-body-color dark:text-dark-6">
                            Oops! The page you are looking for does not exist. It might have
                            been moved or deleted.
                        </p>
                        <a
                            href='{% url "users:index" %}'
                            class="py-3 text-base font-medium text-white transition rounded-md bg-dark px-7 hover:bg-primary"
                        >
                            Go To Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "sections/../sections/footer.html" %}
{% endblock content %}
