{% load static %}

<section class="pb-20 dark:bg-dark">
        <div class="container px-4">
                <div
                        class="-mx-4 flex flex-wrap items-center justify-center gap-8 xl:gap-11"
                >
                        <a href="https://graygrids.com/">
                                <img
                                        src="{% static 'images/brands/graygrids.svg' %}"
                                        alt="graygrids"
                                        class="dark:hidden"
                                />
                                <img
                                        src="{% static 'images/brands/graygrids-white.svg' %}"
                                        alt="graygrids"
                                        class="hidden dark:block"
                                />
                        </a>
                        <a href="https://lineicons.com/">
                                <img
                                        src="{% static 'images/brands/lineicons.svg' %}"
                                        alt="lineicons"
                                        class="dark:hidden"
                                />
                                <img
                                        src="{% static 'images/brands/lineicons-white.svg' %}"
                                        alt="graygrids"
                                        class="hidden dark:block"
                                />
                        </a>
                        <a href="https://uideck.com/">
                                <img
                                        src="{% static 'images/brands/uideck.svg' %}"
                                        alt="uideck"
                                        class="dark:hidden"
                                />
                                <img
                                        src="{% static 'images/brands/uideck-white.svg' %}"
                                        alt="graygrids"
                                        class="hidden dark:block"
                                />
                        </a>
                        <a href="https://ayroui.com/">
                                <img
                                        src="{% static 'images/brands/ayroui.svg' %}"
                                        alt="ayroui"
                                        class="dark:hidden"
                                />
                                <img
                                        src="{% static 'images/brands/ayroui-white.svg' %}"
                                        alt="graygrids"
                                        class="hidden dark:block"
                                />
                        </a>
                        <a href="https://tailgrids.com/">
                                <img
                                        src="{% static 'images/brands/tailgrids.svg' %}"
                                        alt="tailgrids"
                                        class="dark:hidden"
                                />
                                <img
                                        src="{% static 'images/brands/tailgrids-white.svg' %}"
                                        alt="graygrids"
                                        class="hidden dark:block"
                                />
                        </a>
                </div>
        </div>
</section>
