<section class="pb-8 pt-20 dark:bg-dark lg:pb-[70px] lg:pt-[120px]">
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
                    <span class="mb-2 block text-lg font-semibold text-primary">
                        Features
                    </span>
                    <h2
                        class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
                    >
                        Main Features Of Play
                    </h2>
                    <p class="text-base text-body-color dark:text-dark-6">
                        This meal is a sweet one cooked over a weekend. Let's see some features about it.
                    </p>
                </div>
            </div>
        </div>
        <div class="-mx-4 flex flex-wrap">
            {% #info_box icon="fa-solid fa-lock" heading="Secure and Reliable" description="It is free and open-source, and always will be. Feel free to hit the <a href='https://www.paypal.com/paypalme/yokwejuste/' class='text-base font-medium text-dark hover:text-primary dark:text-white dark:hover:text-primary'>PayPal link</a> at any time." %}{% /info_box %}
            {% #info_box icon="fa-solid fa-cog" heading="Multipurpose Template" description="Manipulate this how you want, when you want and where you want. Make it yours." %}{% /info_box %}
            {% #info_box icon="fa-solid fa-palette" heading="High-quality Design" description="At the core of this we have Django, Tailwind CSS, Alpine.js and a lot of tenancy and scripting." %}{% /info_box %}
            {% #info_box icon="fa-solid fa-cube" heading="All Essential Elements" description="All the essential elements are included in this template. You can use it for any purpose. Let your imagination run wild." %}{% /info_box %}
        </div>
    </div>
</section>
