<footer
        class="wow fadeInUp relative z-10 bg-[#090E34] pt-20 lg:pt-[100px]"
        data-wow-delay=".15s"
>
    <div class="container">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4 sm:w-1/2 md:w-1/2 lg:w-4/12 xl:w-3/12">
                <div class="mb-10 w-full">
                    <a
                            href="javascript:void(0)"
                            class="mb-6 inline-block max-w-[160px]"
                    >
                        <img
                                src="{% static 'images/logo/logo-white.svg' %}"
                                alt="logo"
                                class="max-w-full"
                        />
                    </a>
                    <p class="mb-8 max-w-[270px] text-base text-white">
                        We are in
                        <script>document.write(new Date().getFullYear())</script>
                        and we keep growing with
                        generative AI
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div
            class="mt-12 border-t border-[#8890A4] border-opacity-40 py-8 lg:mt-[60px]"
    >
        <div class="container">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4 md:w-2/3 lg:w-1/2">
                    <div class="my-1">
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/3 lg:w-1/2">
                    <div class="my-1 flex justify-center md:justify-end">
                        <p class="text-base text-gray-7">
                            with <i class="fab fa-python"></i> and <b>Dj</b> by
                            <a
                                    href="https://yokwejuste.me"
                                    rel="nofollow noopner"
                                    target="_blank"
                                    class="text-gray-1 hover:underline"
                            >
                                Steve Yonkeu (@yokwejuste)
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>

        <span class="absolute bottom-0 right-0 z-[-1]">
          <img src="{% static 'images/footer/shape-3.svg' %}" alt=""/>
        </span>
    </div>
</footer>
<a
        href="javascript:void(0)"
        class="back-to-top fixed bottom-8 left-auto right-8 z-[999] hidden h-10 w-10 items-center justify-center rounded-md bg-primary text-white shadow-md transition duration-300 ease-in-out hover:bg-dark"
>
      <span
              class="mt-[6px] h-3 w-3 rotate-45 border-l border-t border-white"
      ></span>
</a>