<div
    id="home"
    class="relative overflow-hidden bg-primary pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
    <div class="container">
        <div class="-mx-4 flex flex-wrap items-center">
            <div class="w-full px-4">
                <div
                    class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center"
                    data-wow-delay=".2s"
                >
                    <h1
                        class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]"
                    >
                        Open Source Portfolio Template for Developers
                    </h1>
                    <p class="mx-auto mb-9 max-w-[600px] text-base font-medium text-white sm:text-lg sm:leading-[1.44]">
                        Visuleo is a free portfolio template for developers. It is built with
                        Tailwind CSS and Django. It is fully responsive and easy to customize.
                    </p>
                    <ul class="mb-10 flex flex-wrap items-center justify-center gap-5">
                        <li>
                            {% #button link="https://yokwejuste.me" external=True primary=True label="About the Cook"  %}{% /button %}
                        </li>
                        <li>
                            {% #button link="https://github.com/yokwejuste/visuleo_port" external=True secondary=True label="Star on Github"  icon="fa-brands fa-github" %}{% /button %}
                        </li>
                    </ul>
                    <div>
                        <p class="mb-4 text-center text-base font-medium text-white">
                            Built with latest technology
                        </p>
                        <div class="wow fadeInUp flex items-center justify-center gap-4 text-center"
                             data-wow-delay=".3s">
                            <a href="https://python.org" class="text-white/60 duration-300 ease-in-out hover:text-white"  target="_blank">
                                <img src="{% static 'images/python.svg' %}" alt="python" class="w-8 h-8"/>
                            </a>

                            <a href="https://djangoproject.com" class="text-white/60 duration-300 ease-in-out hover:text-white" target="_blank">

                            </a>

                            <a
                                href="https://postgresql.org"
                                class="text-white/60 duration-300 ease-in-out hover:text-white"
                                target="_blank"
                            >
                                <img src="{% static 'images/postgres.svg' %}" alt="postgresql" class="w-8 h-8"/>
                            </a>

                            <a
                                href="https://tailwindcss.com/"
                                class="text-white/60 duration-300 ease-in-out hover:text-white"
                                target="_blank"
                            >
                                <img src="{% static 'images/tailwind.svg' %}" alt="tailwindcss" class="w-8 h-8"/>
                            </a>

                            <a
                                href="https://alpinejs.dev/"
                                class="text-white/60 duration-300 ease-in-out hover:text-white"
                                target="_blank"
                            >
                                <img src="{% static 'images/alpine.svg' %}" alt="alpinejs" class="w-8 h-8"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full px-4">
                <div
                    class="wow fadeInUp relative z-10 mx-auto max-w-[845px]"
                    data-wow-delay=".25s"
                >
                    <div class="mt-16">
                        <img
                            src="{% static 'images/hero/hero-image.jpg' %}"
                            alt="hero"
                            class="mx-auto max-w-full rounded-t-xl rounded-tr-xl"
                        />
                    </div>
                    <div class="absolute -left-9 bottom-0 z-[-1]">
                        <img
                            src="{% static 'images/dots.svg' %}"
                            alt="hero"
                        />
                    </div>
                    <div class="absolute -right-6 -top-6 z-[-1]">
                        <img
                            src="{% static 'images/dots.svg' %}"
                            alt="hero"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
