<section
        id="team"
        class="overflow-hidden bg-gray-1 pb-12 pt-20 dark:bg-dark-2 lg:pb-[90px] lg:pt-[120px]"
>
    <div class="container mx-auto">
        <div class="-mx-4 flex flex-wrap">
            <div class="w-full px-4">
                <div class="mx-auto mb-[60px] max-w-[485px] text-center">
              <span class="mb-2 block text-lg font-semibold text-primary">
                Our Team Members
              </span>
                    <h2
                            class="mb-3 text-3xl font-bold leading-[1.2] text-dark dark:text-white sm:text-4xl md:text-[40px]"
                    >
                        Our Creative Team
                    </h2>
                    <p class="text-base text-body-color dark:text-dark-6">
                        You really thought we won't talk about the people behind this??? Well, here they are.
                    </p>
                </div>
            </div>
        </div>
        <div class="-mx-4 flex flex-wrap justify-center">
            {% #team_member_card image_path="/static/images/team/team-01.png" fb_username="iamyokwejuste" x_tw_username="yokwejuste" in_username="iamyokwejuste" title="Backend and Cloud Engineer" name="Steve Yonkeu" %}{% /team_member_card %}
        </div>
    </div>
</section>